/*Deliverable 4.1: Adding an image to the Jumbotron, and changing what was p to a h2 element*/
.jumbotron {
    background-image: url("../images/cells.jpg");
    background-size: 100% 100%;
    text-align: center;
  }


/*Deliverable 4.2: Add background color or a variety of compatible colors to the webpage*/
.jumbotron h1 {
    background-color: black;
    color: white;
  }

.jumbotron h2 {
    background-color: black;
    color: white;
  }


body {
        background-color: antiquewhite;
      }
p {
    text-align: justify;
    background-color: white;
}