/*Deliverable 4.1: Adding an image to the Jumbotron, and making the smaller text larger and easier to see*/
.jumbotron {
    background-image: url("../images/cells.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
.jumbotron p {
    font-size: 30px;
    font-weight: 500;
}

body {

    color: #F0FFFF;
  }

