/*Deliverable 4.1: Adding an image to the Jumbotron, and making the smaller text larger and easier to see*/
.jumbotron {
    background-image: url("../Starter_code/images/cells.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
.jumbotron p {
    font-size: 30px;
    font-weight: 500;
}
h1 {
    background-color: black;
    color: white;
  }
h2{
        background-color: black;
        color: white;
      }
body {
        background-color: antiquewhite;
      }